*
{
	margin: 0px;
	padding: 0px;
}

.page
{
	background-color: #95A5A6;
	width: 100%;
	height: 1950px;
}

.total
{
	background-color: #fff;
	width: 100%;
	height: 210px;
}

.top
{
	background-color: #fff;
	display: flex;
}

.juventus
{
	width: 500px;
	height: 150px;
	margin-left: 422px;
}

.icon
{
	background-color: #fff;
	width: 120px;
	height: 40px;
	margin-top: 50px;
	margin-left: 140px;
	display: flex;
}

.icon1
{
	width: 16px;
	height: 16px;
	margin-top: 90px;
}

.icon2
{
	width: 16px;
	height: 16px;
	margin-left: 23px;
	margin-top: 90px;
}

.bottom
{
	display: flex;
}

.menu
{
	margin-left: 150px;
	line-height: 30px;
}

ul li
{
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	float: left;
}

ul li a
{
	color: black;
	text-decoration: none;
	opacity: 1;
	font-family: comic sans ms;
}

ul li a:hover
{
	opacity: 0.4;
}

.li
{
	background-color: #95A5A6;
	margin-top: 20px;
}

.li2
{
	margin-top: 20px;
	border: 1px solid #000;
	border-style: solid solid hidden hidden;
	transition: 2s all;
}

.li2:hover
{
	padding-left: 20px;
}

.li3
{
	margin-top: 20px;
	border: 1px solid #000;
	border-style: solid solid hidden hidden;
	transition: 2s all;
}

.li3:hover
{
	padding-left: 20px;
}

.search
{
	width: 288px;
	height: 40px;
	margin-top: 20px;
	margin-left: 75px;
	display: flex;
}

.icons
{
	background-color: #95A5A6;
	width: 35px;
	height: 25px;
	margin-left: 85px;
	margin-top: 5px;
}

.boxs
{
	background-color: #95A5A6;
	width: 300px;
	height: 25px;
	margin-top: 5px;
}

.boxss
{
	background-color: #fff;
	width: 175px;
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 3px;
}

.photo
{
	width: 1095px;
	height: 400px;
	margin-left: 150px;
	margin-top: 30px;
	display: flex;
}

.picture
{
	width: 595px;
	height: 400px;
	transition: 4.9s all;
}

.picture:hover
{
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.5);*/
	border-radius: 50px;
	width: 45px;
}

.picture img
{
	transition: 10s all;
}

.picture img:hover
{
	border-radius: 50px;
}

.head
{
	background-color: #E0E0E0;
	width: 500px;
	height: 400px;
}

.text
{
	color: #000;
	width: 200px;
	height: 50px;
	margin-top: 40px;
	margin-left: 80px;
}

.hr1
{
	color: #F39C12;
	width: 300px;
	margin-top: 20px;
	border: 3px double #F39C12;
}

.about
{
	color: #000;
	width: 350px;
	height: 200px;
	padding: 5px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 80px;
}

.click
{
	background: #FF4E50;
	background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
	background: linear-gradient(to right, #F9D423, #FF4E50);
	color: white;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 30px;
	margin-left: 80px;
}

.click a
{
	text-decoration: none;
	opacity: 1;
}

.click a:hover
{
	opacity: 0.4;
} 

.click:hover
{
	background: #C9FFBF;
	background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
	background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.extra
{
	background: #95A5A6;
	width: 1095px;
	height: 150px;
	margin-top: 20px;
	margin-left: 150px;
	display: flex;
}

.place
{
	background: #95A5A6;
	width: 150px;
	height: 150px;
	margin-left: 160px;
}

.extra1
{
	background: #95A5A6;
	width: 1095px;
	height: 60px;
	margin-top: 20px;
	margin-left: 150px;
	display: flex;
}

.titr
{
	background: #95A5A6;
	width: 150px;
	height: 60px;
	margin-left: 160px;
	text-align: center;
	line-height: 20px;
}

.hr2
{
	color: #F39C12;
	width: 50px;
	margin-top: 20px;
	margin-left: 50px;
	border: 3px double #F39C12;
}

.text1
{
	background: #95A5A6;
	width: 1095px;
	height: 120px;
	margin-top: 20px;
	margin-left: 150px;
	display: flex;
}

.text2
{
	background: #95A5A6;
	width: 250px;
	height: 120px;
	margin-left: 110px;
	text-align: center;
	line-height: 18px;
}

.text3
{
	background: #95A5A6;
	width: 250px;
	height: 120px;
	margin-left: 60px;
	text-align: center;
	line-height: 18px;
}

.text4
{
	background: #95A5A6;
	width: 250px;
	height: 120px;
	margin-left: 50px;
	text-align: center;
	line-height: 18px;
}

.click1
{
	background: #95A5A6;
	width: 1095px;
	height: 40px;
	margin-top: 10px;
	margin-left: 150px;
	display: flex;
}

.click2
{
    background: #e96443;
    background: -webkit-linear-gradient(to right, #e96443, #904e95);
    background: linear-gradient(to right, #e96443, #904e95); 
	width: 150px;
	height: 40px;
	margin-left: 160px;
	text-align: center;
	line-height: 40px;
}

.click2 a
{
	text-decoration: none;
	opacity: 1;
}

.click2 a:hover
{
	opacity: 0.4;
} 

.click2:hover
{
	background: #C9FFBF;
	background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
	background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.news
{
	background: #fff;
	width: 100%;
	height: 650px;
	margin-top: 30px;
}

.news1
{
	background: #fff;
	width: 100%;
	height: 100px;
	margin-top: 30px;
	display: flex;
}

.top1
{
	background: #fff;
	width: 730px;
	height: 30px;
	margin-top: 20px;
	margin-left: 150px;
	padding: 10px;
}

.features
{
	background: #fff;
	width: 300px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
}

.hr3
{
	color: #F39C12;
	width: 725px;
	margin-top: 5px;
	border: 3px double #F39C12;
}

.hr4
{
	color: #F39C12;
	width: 295px;
	margin-top: 5px;
	border: 3px double #F39C12;
}

.boxbox
{
	background: #fff;
	width: 1095px;
	height: 500px;
	margin-left: 150px;
	display: flex;
}

.boxbox1
{
	background-color: #fff;
	width: 223px;
	height: 490px;
	margin-left: 20px;
	margin-top: 5px;
}

.box11
{
	background-color: #fff;
	width: 200px;
	height: 30px;
	padding: 5px;
	line-height: 30px;
	margin:0px auto;
}

.box22
{
	background-color: #fff;
	width: 200px;
	height: 90px;
	padding: 5px;
	line-height: 22px;
	margin: 10px auto;
}

.box33
{
	background: #FC354C;
	background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
	background: linear-gradient(to right, #0ABFBC, #FC354C);
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 20px;
	margin-left: 36px;
}

.box33 a
{
	text-decoration: none;
	opacity: 1;
}

.box33 a:hover
{
	opacity: 0.4;
}

.box33:hover
{
	background: #C9FFBF;
	background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
	background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.boxbox2
{
	background-color: #fff;
	width: 300px;
	height: 490px;
	margin-left: 50px;
	margin-top: 5px;
}

.box44
{
	background-color: #fff;
	width: 290px;
	height: 110px;
	margin: 10px auto;
	display: flex;
}

.boxbox44
{
	background-color: #fff;
	width: 150px;
	height: 100px;
}

.boxbox55
{
	background-color: #fff;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 30px;
	margin-top: 35px;
	margin-left: 20px;
}

.hr5
{
	color: #F39C12;
	width: 70px;
	margin-top: 5px;
	margin-left: 12px;
	border: 3px double #F39C12;
}

.sponsor
{
	background-color: #95A5A6;
	width: 1085px;
	height: 160px;
	margin-top: 20px;
	margin-left: 150px;
	display: flex;
}

.sponsor1
{
	background-color: #95A5A6;
	width: 290px;
	height: 150px;
	margin-top: 5px;
	margin-left: 55px;
}
